@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14% 12%;
    --muted: 30 10% 94%;
    --muted-foreground: 20 6% 40%;
    --primary: 24 60% 30%;
    --primary-foreground: 30 30% 98%;
    --destructive: 0 70% 45%;
    --destructive-foreground: 0 0% 100%;
    --border: 20 10% 85%;
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
